body {
    position: relative;
    background-color: #070132;
    background-image: url(../images/stars.jpg);
    color: #ffffff;
}

body::before {
    content: "";
    background-image: url(../images/chamber.jpg);
    background-size: cover;
    opacity: .5;
    z-index: -1;
}

.container {
    margin: auto;
    padding: 10px;
    width: 90%;
    position: relative;
}

.header {
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 1px;
    background-image: url(../images/header.png);
    background-size: contain;
    background-position: center center;
    object-fit: scale-down;
    position: relative;
    mask-image: linear-gradient(to bottom, #000000, transparent);
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 20%;
    opacity: .9;
}

.right {
    width: 15%;
    opacity: .9;
}

.middle {
    width: 60%;
    opacity: .9;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.block {
    background-color: black;
    margin-top: 1px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
}