body {
    margin: 0;
    padding: 0;
    background-color: #070132;
    background-image: url(../images/bg3.gif);
    color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    min-height: 100vh;
}


/* Fixed Background Layer */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(../images/chamber.jpg);*/
    background-size: cover;
    opacity: .3;
    z-index: -1;
}


/* Header & Modern Marquee */

.main-header {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: url(../images/header.png) center / contain;
    mask-image: linear-gradient(to bottom, black, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scrolling-text {
    width: 100%;
    text-align: center;
}

.ascii-art {
    font-family: monospace, monospace;
    white-space: pre;
    color: #498cdf;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}


/* Grid Layout */

.container {
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    /* Left, Middle, Right */
    gap: 20px;
    width: 85%;
    max-width: 1500px;
    margin: 20px auto;
}

.block {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    height: fit-content;
    margin-top: 20px;
    backdrop-filter: blur(50px);
}


/* Image Handling */

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.hero-img {
    border: 1px solid #555;
}

.column {
    opacity: 0.95;
}


/* Responsive Design: Mobile View */

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        /* Stack everything in one column */
    }
    .left,
    .middle,
    .right {
        width: 100%;
    }
    .main-header {
        height: 150px;
    }
}

footer {
    text-align: center;
    padding: 20px;
}