body {
    background-image: url("images/chamber.jpg");
    background-color: #00001F;
    color: #ffffff;
}

.container {
    margin: auto;
    padding: 10px;
    width: 90%;
    position: relative;
}

.header {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 20%;
}

.right {
    width: 15%;
}

.middle {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.block {
    background-color: midnightblue;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
}